/* Main */
.mainpage h1 {
    font-family: 'Quicksand', Courier, monospace;
    font-size: 45px;
    padding-right: 50%;
}
h2 {
    font-family: 'Quicksand', Geneva, Verdana, sans-serif;
}
h1 {
    font-family: 'Quicksand', Geneva, Verdana, sans-serif;
}
p {
    font-family: 'Quicksand', Geneva, Verdana, sans-serif;
}
.mainpage {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    padding: 100px;

}
.collectionred {
   background-color: #f5c6c6; /* Your pink color */
  color: #a82424;           /* Your red text color */
  padding: 10px 20px;       /* Adds space around the text inside */
  border-radius: 50px;      /* Gives it that pill shape */
  font-weight: 600;
    width: fit-content;
}
.paddingmainpage{
    padding-right: 60%;
}
.mainpicture{
    position: absolute;
    top: 90px;
    right: 400px;
    width: 200px;
    height: auto;
    
}
.presentationtitle{
    text-align: center;

}
.presentationducks {
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
}
.presentationduckscontainer{
    background-color: burlywood;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
}
.presentationduckscontainer-highlight{
    border: 1px, solid, black;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
}
.presentationduckscontainer-highlight img{
background-color: white;
width: fit-content;
border-radius: 10px;
align-items: center;
}