/* Main */
.mainpage h1 {
    font-family: 'Quicksand', Courier, monospace;
    font-size: 45px;
    padding-right: 50%;
}
.mainpage p {
    font-family: 'Quicksand', Geneva, Verdana, sans-serif;
}
.mainpage {
    display: inline-block;
    margin-left: 40px;
    position: relative;

}
.collectionred {
   background-color: #f5c6c6; /* Your pink color */
  color: #a82424;           /* Your red text color */
  padding: 10px 20px;       /* Adds space around the text inside */
  border-radius: 50px;      /* Gives it that pill shape */
  font-weight: 600;
    width: fit-content;
}
.paddingmainpage{
    padding-right: 60%;
}
.mainpicture{
    position: absolute;
    top: 90px;
    right: 400px;
    width: 200px;
    height: auto;
    
}