.contact-card-links {
    text-align: center;
    background-color: #EEF5F7;
    margin: 0% 30%;
    border-radius: 10px;
}

.reach {
    font-size: 25px;
    font-weight: 600;
    color: #705d00;
    text-align: start;
    padding: 40px 0px 20px 40px;
}
.contact-card-links p {
    text-align: start;
    margin-left: 50px;
    padding-left: 20px;
    line-height: 1.5;
    color: #705d00;
}
.contact-card-links h3 {
    text-align: start;
    margin-left: 50px;  
    font-weight: bold;
    font-size: small;
    padding: 0% 0% 0px 20px;
    line-height: 1.5;
}

.contact-card-links a {
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    color: #2ab9fc;
    text-decoration: none;
    display: flex;
    padding: 0% 0% 0% 10px;
}

.contact-card-links a:hover {
    color: #179ad7;
    font-weight: bold;
}

.location__circleshape{
    position: relative;
    background-color: #2DBCFE;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    float: left;
    display: inline;
    margin: 0% 0% 0% 40px;
}

.location__icon {
    width: 70%;
    justify-content: center;
    align-items: center;
}

.email {
    padding: 20px 0% 0% 0%;
}

.hotline {
    padding: 20px 0% 0% 0%;
}