.contact-card-links {
    text-align: start;
    background-color: #EEF5F7;
    margin: 0% 35%;
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
}

.reach {
    font-size: 25px;
    font-weight: 600;
    color: #705d00;
    cursor: default;
    padding: 0px 0px 30px 40px;
}
.contact-card-links p {
    margin-left: 90px;
    cursor: default;
    /* padding-left: 20px; */
    line-height: 1.5;
    color: #705d00;
}
.contact-card-links h3 {
    margin-left: 90px;  
    font-weight: bold;
    cursor: default;
    font-size: small;
    /* padding: 0% 0% 0px 20px; */
    line-height: 1.5;
}

.contact-card-links a {
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    color: #2ab9fc;
    text-decoration: none;
    margin-left: 30px;

    &:hover {
        color: #179ad7;
        font-weight: bold;
    }

    &:active {
        color: #0a658f;
    }
}

.contact__circleshape{
    position: relative;
    background-color: #2DBCFE;
    border-radius: 50%;
    /* border: none; */
    height: 30px;
    width: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0% 30px;

    &:hover {
        height: 35px;
        width: 35px;
    }
}

.location__icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 70%;
}

.email {
    padding: 20px 0% 0% 0%;
}

.email__icon {
    width: 100%;
    opacity: 70%;
}

.hotline {
    padding: 20px 0% 0% 0%;
}

.phone__icon {
    width: 100%;
    opacity: 70%;
}