.mainpage h1 {
    font-family: 'Quicksand', Courier, monospace;
    font-size: 45px;
    padding-right: 50%;
}
h1, h2, h3, p {
    font-family: 'Quicksand', Geneva, Verdana, sans-serif;
}

.header__logo-container {
display: flex;
align-items: center; 
gap: 0px; 
text-decoration: none; 
color: inherit; 
cursor: pointer; 
}
.header__brand-name {
font-family: 'Plus Jakarta Sans', sans-serif;
font-weight: bold;
font-size: 25px;
letter-spacing: -2px; 
color: #6d2a0b; 
text-transform: uppercase; 
}

.header__logo-image {
width: 60px; 
height: auto; 
}
